<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462156417339-010lpdj8qrqnohtplmn84ups0ag5rgqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462156417339-010lpdj8qrqnohtplmn84ups0ag5rgqq</string>
	<key>API_KEY</key>
	<string>AIzaSyD1pUJKvlH9k1xi0t4gTOU2oaG2TqzHHck</string>
	<key>GCM_SENDER_ID</key>
	<string>462156417339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyCompany199.My-Shoot</string>
	<key>PROJECT_ID</key>
	<string>flix-coin-system</string>
	<key>STORAGE_BUCKET</key>
	<string>flix-coin-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462156417339:ios:fe99d1186540b7ec2d8f1e</string>
	<key>DATABASE_URL</key>
	<string>https://flix-coin-system.firebaseio.com</string>
</dict>
</plist>